* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  width: 100vw;
  height: 100%;
  background-color: #f3f4f9;
}

/* div {
  background-color: greenyellow;
} */

header {
  background-color: white;
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: px 40px 7px 30px;
  display: flex;
  align-items: center;
}
header div {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.logo {
  padding: 2px 10px 2px 10px;
  font-family: "Google Sans", sans-serif;
  font-weight: bold;
  font-size: 30px;
  cursor: pointer;

}
.user_name {
  padding: 2px 10px 2px 10px;
  font-family: "Poppins", sans-serif;
  font-weight: 550;
  font-size: 20px;
  cursor: pointer;

}
.battery {
  padding: 2px 10px 2px 10px;
  font-family: "Poppins", sans-serif;
  font-weight: 550;
  font-size: 14px;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  cursor: pointer;

}
.battery i {
  rotate: -90deg;
  font-size: 16px;
}
.pump {
  padding: 2px 10px 2px 10px;
  font-family: "Poppins", sans-serif;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid green;
  padding: 10px;
}
.pump a {
  text-decoration: none;
  color: black;
  font-weight: 500;
  font-size: 12px;
}
.profile {
  padding: 2px 10px 2px 10px;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 40px;
  border: 2px solid brown;
  border-radius: 50%;
  cursor: pointer;
}

