* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  width: 100%;
  height: 100%;
  background-color: #f3f4f9;
  overflow: hidden;
}

/* div {
  background-color: greenyellow;
} */
/* ================================= Header ========================== */

header {
  background-color: white;
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 2px 40px 7px 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: -8px -6px 16px 1px;
}

header div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition-duration: 0.2s;
}
header div:hover {
  color: black;
}
.logo {
  padding: 2px 10px 2px 10px;
  font-family: "Google Sans", sans-serif;
  font-weight: bold;
  font-size: 30px;
  cursor: pointer;
  color: #2f9712;
  background-color: #ffa600;
  border-radius: 10px;
  color: white;
}

.user_name {
  padding: 2px 10px 2px 10px;
  font-family: "Poppins", sans-serif;
  font-weight: 550;
  font-size: 20px;
  cursor: pointer;
  color: #585858;
}

.battery {
  padding: 2px 10px 2px 10px;
  font-family: "Poppins", sans-serif;
  font-weight: 550;
  font-size: 14px;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  color: #585858;
}
.battery i {
  rotate: -90deg;
  font-size: 16px;
}
.pump {
  padding: 2px 10px 2px 10px;
  font-family: "Poppins", sans-serif;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid green;
  padding: 10px;
}
.pump a {
  text-decoration: none;
  color: black;
  font-weight: 500;
  font-size: 12px;
}

.profile {
  padding: 2px 10px 2px 10px;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 40px;
  cursor: pointer;
  border: 2px solid brown;
  border-radius: 50%;
}

/* ============================================================== */

/* ============================ Main ================================= */
main {
  /* border: 2px solid red; */
  margin-block: 20px;
  height: 100%;
  width: 100%;
  padding: 8px;
}
.upper_box {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 20px;
  min-height: 150px;
}
.lower_box {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 50px;
  min-height: 150px;
}
.card {
  background-color: white;
  width: 20%;
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  font-family: "Poppins", sans-serif;
  align-items: center;
  border-radius: 10px;
  card
}
.card p {
  font-family: "Poppins", sans-serif;
  font-size: 25px;
  font-weight: 500;
  color: #585858;
}

.display {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}
.display .value {
  font-size: 50px;
  padding: 10px;
}
.display .unit{
  font-size: 20px;
  font-weight: 600;
  color: black;
}
/* ======================================================================= */
